<h1>Attendees</h1>
<%= form_with(url: search_attendees_path, method: "get") do %>
  <div>
    <%= label_tag :event_name, "Event Name:" %>
    <%= select_tag :event_name, options_for_select(Event.pluck(:name).uniq, params[:event_name]), include_blank: true %>
  </div>
  <div>
    <%= submit_tag "Search" %>
  </div>
<% end %>

<table class="table-bordered">
  <thead>
  <tr>
    <th class="cell-id">Id</th>
    <th class="cell-email">Email</th>
    <th class="cell-name">Name</th>
    <th class="cell-phone">Phone Number</th>
    <th class="cell-address">Address</th>
    <th class="cell-credit-info">Credit Card Info</th>
    <th class="cell-is-admin">Is Admin</th>
    <th class="cell-actions" colspan="3">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @attendees.each do |attendee| %>
    <tr>
      <td class="cell-id"><%= attendee.id %></td>
      <td class="cell-email"><%= attendee.email %></td>
      <td class="cell-name"><%= attendee.name %></td>
      <td class="cell-phone"><%= attendee.phone_number %></td>
      <td class="cell-address"><%= attendee.address %></td>
      <td class="cell-credit-info"><%= attendee.credit_card_info %></td>
      <td class="cell-is-admin"><%= attendee.is_admin ? 'Yes' : 'No' %></td>
      <td class="cell-actions">
        <%= link_to "Show", attendee %> |


        <%= link_to "Edit", edit_attendee_path(attendee) %>

        <% if !attendee.is_admin %>
          | <%= link_to "Destroy", attendee, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New attendee", new_attendee_path %>
<br>
<%= link_to "Back", root_path%>
