<p style="color: green"><%= notice %></p>

<h1>Attendees</h1>

<table class="table-bordered">
  <thead>
  <tr>
    <th class="cell-id">Id</th>
    <th class="cell-email">Email</th>
    <th class="cell-name">Name</th>
    <th class="cell-phone">Phone Number</th>
    <th class="cell-address">Address</th>
    <th class="cell-credit-info">Credit Card Info</th>
    <th class="cell-is-admin">Is Admin</th>
    <th class="cell-actions" colspan="1">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @attendees.each do |attendee| %>
    <tr>
      <td class="cell-id"><%= attendee.id %></td>
      <td class="cell-email"><%= attendee.email %></td>
      <td class="cell-name"><%= attendee.name %></td>
      <td class="cell-phone"><%= attendee.phone_number %></td>
      <td class="cell-address"><%= attendee.address %></td>
      <td class="cell-credit-info"><%= attendee.credit_card_info %></td>
      <td class="cell-is-admin"><%= attendee.is_admin ? 'Yes' : 'No' %></td>
      <td class="cell-actions"><%= link_to "Show this attendee", attendee %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New attendee", new_attendee_path %>
