<p id=”notice”><%= notice %></p>
<h1>WolfEvents</h1>
<p>Event Management System</p>
<% if current_user && current_user.is_admin %>
  Logged in as <%= current_user.name %>.<br>
  <%= link_to "Attendees", attendees_path %>
  <%= link_to "Logout", logout_path %>
<% end %>
<% if current_user %>
  Logged in as <%= current_user.name %>.<br>
  <%= link_to "All Events", events_path %>
  <%= link_to "My Event Tickets", event_tickets_path(:attendee_id => current_user.id) %>
  <br>
  <%= link_to "Logout", logout_path %>
<% end %>

