<p id=”notice”><%= notice %></p>
<h1>WolfEvents</h1>
<p>Event Management System</p>
<% if current_user && current_user.is_admin %>
  Logged in as <%= current_user.name %>.<br>
  <%= link_to "All Events", events_path %><br>
  <%= link_to "All Attendees", attendees_path %><br>
  <%= link_to "All Event Tickets", event_tickets_path %><br>
  <%= link_to "Booking History", event_tickets_path(:attendee_id => current_user.id) %><br>
  <%= link_to "All Rooms", rooms_path %><br>
  <%= link_to "All Reviews", reviews_path %><br>
  <%= link_to "Logout", logout_path %>
<% elsif current_user && !current_user.is_admin %>
  Logged in as <%= current_user.name %>.<br>
  <%= link_to "All Events", events_path %><br>
  <%= link_to "Booking History", event_tickets_path(:attendee_id => current_user.id) %><br>
<<<<<<< HEAD

=======
  <%= link_to "Edit Profile", edit_attendee_path(current_user) %><br>

>>>>>>> de4a2bbb8bc71b065b2027dc6a5f30f9c990597c
  <br>
  <%= link_to "Logout", logout_path %>
<% else %>
<%= link_to "Login", login_path %> or
  <%= link_to "Register", signup_path %>
<% end %>
