<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<%= form_with(url: events_path, method: "get") do %>
  <div>
    <%= label_tag :category, "Category:" %>
    <%= select_tag :category, options_for_select(["Concerts", "Sports", "Arts & Theatre", "Miscellaneous/Family – Private"], params[:category]), include_blank: true %>
  </div>

  <div>
    <%= label_tag :date, "Date:" %>
    <%= text_field_tag :date, params[:date] %>
  </div>
  <div>
    <%= label_tag :price_range, "Price Range:" %>
    <%= text_field_tag :min_price, params[:min_price], placeholder: "Min" %>
    <%= text_field_tag :max_price, params[:max_price], placeholder: "Max" %>
  </div>
  <div>
    <%= label_tag :search, "Search by Event Name:" %>
    <%= text_field_tag :search, params[:search] %>
  </div>
  <%= submit_tag "Filter and Search" %>
<% end %>

<table style="border-collapse: collapse; width: 100%;">
  <thead>
  <tr>
    <th style="border: 1px solid black; padding: 8px;">ID</th>
    <th style="border: 1px solid black; padding: 8px;">Name</th>
    <th style="border: 1px solid black; padding: 8px;">Room</th>
    <th style="border: 1px solid black; padding: 8px;">Category</th>
    <th style="border: 1px solid black; padding: 8px;">Date</th>
    <th style="border: 1px solid black; padding: 8px;">Start time</th>
    <th style="border: 1px solid black; padding: 8px;">End time</th>
    <th style="border: 1px solid black; padding: 8px;">Ticket price</th>
    <th style="border: 1px solid black; padding: 8px;">Number of seats left</th>
    <th style="border: 1px solid black; padding: 8px;">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <%= render partial: 'event', locals: { event: event , show_link: true} %>
  <% end %>
  </tbody>
</table>

<% if current_user.is_admin %>
  <%= link_to "New event", new_event_path %>
<% end %>


<%= link_to "Back", root_path %>
