<div id="<%= dom_id event_ticket %>">
  <p>
    <strong>Attendee:</strong>
    <%= event_ticket.attendee_name %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= event_ticket.event_name %>
  </p>

  <p>
    <strong>Number of Tickets:</strong>
    <%= event_ticket.number_of_tickets %>
  </p>

  <p>
    <strong>Total Cost:</strong>
    <%= event_ticket.total_cost %>
  </p>

  <p>
    <strong>Confirmation number:</strong>
    <%= event_ticket.confirmation_number %>
  </p>

</div>
