<%= form_with(model: event_ticket) do |form| %>
  <% if event_ticket.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event_ticket.errors.count, "error") %> prohibited this event_ticket from being saved:</h2>

      <ul>
        <% event_ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :attendee_id, style: "display: none" %>
    <%= form.text_field :attendee_id, style: "display: none" %>
  </div>

  <div>
    <%= form.label :event_id, style: "display: none" %>
    <%= form.text_field :event_id, style: "display: none", id: "event_id"  %>
  </div>

  <div>
    <%= form.label :number_of_tickets, style: "display: block" %>
    <%= form.number_field :number_of_tickets, id: "number_of_tickets", value: 1, min: 1 %>
  </div>

  <div>
    <%= form.label :total_cost, style: "display: block" %>
    <%= form.text_field :total_cost, readonly: true, id: "total_cost", value: event_ticket.total_cost.to_d %>
  </div>

  <script>
      var numberField = document.getElementById('number_of_tickets');
      var totalField = document.getElementById('total_cost');
      var ticketCost = <%= event_ticket.total_cost.to_d %>;

      numberField.addEventListener('input', function() {
          var numberOfTickets = parseFloat(numberField.value);
          var totalCost = numberOfTickets * ticketCost;
          totalField.value = totalCost.toFixed(2); // Assuming you want to display the total with two decimal places
      });
  </script>

  <div>
    <%= form.submit %>
  </div>
<% end %>
