<h1>Event tickets</h1>
<% if @event_tickets %>
  <table class="eventTicket-table">
    <thead>
    <tr>
      <th>Attendee ID</th>
      <th>Event Name</th>
      <th>Date</th>
      <th>Number Of Tickets</th>
      <th>Confirmation Number</th>
      <th colspan="2">Actions</th> <!-- Adjusted colspan to accommodate the actions -->
    </tr>
    </thead>

    <tbody>
    <% @event_tickets.each do |event_ticket| %>
      <tr>
        <td><%= event_ticket.attendee_name %></td>
        <td><%= event_ticket.event_name %></td>
        <td><%= event_ticket.event.date.strftime('%Y-%m-%d') if event_ticket.event.date %></td>
        <td><%= event_ticket.number_of_tickets %></td>
        <td><%= event_ticket.confirmation_number %></td>
        <td>
          <%= link_to "Show this event ticket", event_ticket %> <br>
          <% if current_user && current_user.is_admin %>
            <%= link_to "Edit", edit_event_ticket_path(event_ticket) %> <br>
            <%= link_to "Destroy", event_ticket, method: :delete, data: { confirm: 'Are you sure?' } %> <br>
          <% elsif current_user && !current_user.is_admin && current_user.id == event_ticket.attendee_id %>
            <%= link_to "Edit", edit_event_ticket_path(event_ticket) %> <br>
            <%= link_to "Cancel the ticket", event_ticket, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No Tickets as of now</p>
<% end %>

<%= link_to "New event ticket", events_path %>
<br>
<%= link_to "Back", root_path %>
