<!--<p style="color: green"><%#= notice %></p>-->

<%= render @event_ticket %>

<div>

  <% if current_user && current_user.is_admin %>
    <%= link_to "Back to all events", events_path %> |
    <%= link_to "Booking History", event_tickets_path(:attendee_id => current_user.id) %> |
    <%= link_to "Back to event tickets", event_tickets_path %>
  <% end %>

<% if current_user && !current_user.is_admin %>
    <%= link_to "Back to all events", events_path %> |
    <%= link_to "Booking History", event_tickets_path(:attendee_id => current_user.id) %> |
  <% end %>
</div>


