<tr>
  <td style="border: 1px solid black; padding: 8px;"><%= room.location %></td>
  <td style="border: 1px solid black; padding: 8px;"><%= room.capacity %></td>
  <td style="border: 1px solid black; padding: 8px;">
    <%= link_to "Show this room", room %> <br>
    <% if current_user.is_admin %>
      <%= link_to "Edit Room", edit_room_path(room) %> <br>
      <%= link_to "Destroy Room", room, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>
  </td>
</tr>
