<p style="color: green"><%= notice %></p>

<h1>Filter Available Rooms</h1>

<%= form_with(url: rooms_path, method: "get") do |form| %>
  <div>
    <%= form.label :date, "Desired Date" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :start_time, "Desired Start Time" %>
    <%= form.time_field :start_time %>
  </div>

  <div>
    <%= form.label :end_time, "Desired End Time" %>
    <%= form.time_field :end_time %>
  </div>

  <%= form.submit "Filter" %>
<% end %>

<hr>

<h1>Available Rooms</h1>

<table style="border-collapse: collapse; width: 100%;">
  <thead>
  <tr>
    <th style="border: 1px solid black; padding: 8px;">Location</th>
    <th style="border: 1px solid black; padding: 8px;">Capacity</th>
    <th style="border: 1px solid black; padding: 8px;">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @available_rooms.each do |room| %>
    <%= render room %>
  <% end %>
  </tbody>
</table>

<%= link_to "New room", new_room_path %>
<br>
<%= link_to "Back", root_path %>
