<p style="color: green"><%= notice %></p>

<h1>Reviews</h1>

<table class="review-table-admin">
  <thead>
  <tr>
    <th>Review ID</th>
    <th>Attendee Name</th>
    <th>Event Name</th>
    <th>Rating</th>
    <th>Feedback</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.id %></td>
      <td><%= review.attendee.name %></td> <!-- Assuming review belongs_to :attendee -->
      <td><%= review.event.name %></td> <!-- Assuming review belongs_to :event -->
      <td><%= review.rating %></td>
      <td><%= review.feedback %></td>
      <td>
        <%= link_to "Show this review", review %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


<!--<div id="reviews">-->
  <%# @reviews.each do |review| %>
    <%#= render review %>
<!--    <p>-->
      <%#= link_to "Show this review", review %>
<!--    </p>-->
  <%# end %>
<!--</div>-->

<%= link_to "New review", new_review_path %>
