<!--<p style="color: green"><%#= notice %></p>-->

<h1>Reviews</h1>
<%= form_with(url: reviews_path, method: "get") do %>
  <div>
    <div style="display: inline-block;">
      <%= label_tag :attendee_name, "Search by Attendee Name:" %>
      <%= select_tag :attendee_name, options_for_select(Attendee.pluck(:name), params[:attendee_name]), prompt: "Attendee Name" %>
    </div>

    <div style="display: inline-block;">
      <%= label_tag :attendee_email, "Search by Attendee Email:" %>
      <%= select_tag :attendee_email, options_for_select(Attendee.pluck(:email).uniq, params[:attendee_email]), prompt: "Attendee Email" %>
    </div>

    <div style="display: inline-block;">
      <%= label_tag :event_name, "Search by Event Name:" %>
      <%= select_tag :event_name, options_for_select(Event.pluck(:name), params[:event_name]), prompt: "Event Name" %>
    </div>
  </div>

  <br>
  <%= submit_tag "Search" %>
<% end %>


<table class="review-table-admin">
  <thead>
  <tr>
    <th>Review ID</th>
    <th>Attendee ID</th>
    <th>Attendee Name</th>
    <th>Attendee Email ID</th>
    <th>Event Name</th>
    <th>Rating</th>
    <th>Feedback</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.id %></td>
      <td><%= review.attendee.id %></td> <!-- Assuming review belongs_to :attendee -->
      <td><%= review.attendee.name %></td>
      <td><%= review.attendee.email %></td>
      <td><%= review.event.name %></td>
      <td><%= review.rating %></td>
      <td><%= review.feedback %></td>
      <td>
        <%= link_to "Show this review", review %><br>

      </td>
    </tr>
  <% end %>
  </tbody>
</table>


<!--<div id="reviews">-->
  <%# @reviews.each do |review| %>
    <%#= render review %>
<!--    <p>-->
      <%#= link_to "Show this review", review %>
<!--    </p>-->
  <%# end %>
<!--</div>-->

<%= link_to "New review", event_tickets_path %><br>
<%= link_to "Back", root_path %>
