<h1>My Reviews</h1>

<table class="review-table-admin">
  <thead>
  <tr>
    <th>Review ID</th>
    <th>Attendee ID</th>
    <th>Attendee Name</th>
    <th>Attendee Email ID</th>
    <th>Event ID</th>
    <th>Event Name</th>
    <th>Rating</th>
    <th>Feedback</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.id %></td>
      <td><%= review.attendee.id %></td>
      <td><%= review.attendee.name %></td>
      <td><%= review.attendee.email %></td>
      <td><%= review.event.id %></td>
      <td><%= review.event.name %></td>
      <td><%= review.rating %></td>
      <td><%= review.feedback %></td>
      <td>
        <%= link_to "Show", review %><br>
        <%= link_to "Edit", edit_review_path(review) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Back", root_path %>
